<section id="confirmar" class="relative pt-[30%] pb-[20%] md:py-[10%]">
  <div class="container">
    <!-- Nombres de los novios -->
    <h3 class="text-[65px] md:text-[85px] text-center text-color-2 font-cookie leading-5 font-medium">
      Luis
      <span class="inline-block text-[30px] leading-[40px] md:leading-[42px] bg-color-3 w-10 h-10 rounded-full">&</span>
      Rosa
    </h3>
    <!-- Boton -->
  </div>
</section>
