---
import ContadorRegresivo from "../components/ContadorRegresivo.astro";
import CorazonAnimado from "../components/CorazonAnimado.astro";
---

<section id="cuenta-regresiva" class="relative h-[290px] md:h-[360px]">
    <div class="flex justify-center">
        <div class="marco size-[360px] md:size-[470px] flex items-center justify-center">
            <div class="size-[270px] py-7 px-5 bg-white rounded-full flex flex-col items-center justify-center shadow-custom md:size-[315px] md:py-5" >
                <h4 class="text-4xl font-light text-color-7 text-center">Falta</h4>
                <br>
                <!-- Contador -->
                 <ContadorRegresivo/>
                 <!-- Animation de corazon -->
                  <br>
                  <CorazonAnimado />
            </div>
        </div>
    </div>
</section>

<style>
    .marco{
        background-image: url('/svg/circulo-contador.svg');
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -200px;
        z-index: 2;
    }
</style>