---
import Camara from "../components/lotties/Camara.astro";
---

<section id="galeria" class="relative pt-16 pb-2 md:pt-7 bg-color-5">
    <div class="container mx-auto">
        <h2 class="text-[55px] leading-[40px] font-cookie text-color-1 text-center md:text-[60px] md:leading-[60px] py-0 px-4">Retratos de nuestro amor</h2>
        <p class="text-[19px] text-center text-color-2 py-0 px-4 mt-6 mb-4 md:text-[20px]">Un minuto, un segundo, un instante que queda en la eternidad</p>
        <!-- Animacion -->
         <Camara className="w-[70px] mx-auto"/>
         <!-- Galeria de fotos -->
    </div>
</div>