---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---
<div class="container w-[18%] mx-auto">
    <LottieAnimation src="/lotties/corazon-contador.json" autoplay="visible" />
</div>  