---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

interface props{
    className:string
    loop:boolean
}

const {className,loop=false}=Astro.props
---
<div class={className}>
    <LottieAnimation src="/lotties/hojas03.json" autoplay="visible" loop={loop} />
</div>