---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---
<div class="absolute bottom-[-60%] left-0 w-[22%] z-20 md:w-[14%] md:bottom-[-38%]">
    <LottieAnimation src="/lotties/hojas03.json" autoplay="visible" loop={false} />
</div>  