---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---
<div class="absolute top-[-30px] left-0 w-[33%] z-20 md:w-[15%]">
    <LottieAnimation src="/lotties/hojas01.json" autoplay="visible" loop={false} />
</div>  